


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: hsl(0, 0, 10%);
  color: hsl(120, 100%, 8%);

  background: linear-gradient(45deg, #a1f8aa 0%, #d7e39c 100%);
  
  background: linear-gradient(45deg, #c6f8a5 0%, #d7e39c 100%);
  /* background: #B4E4CA; */
  


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

