


:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;

  color: hsl(0, 0, 10%);
  color: hsl(120, 100%, 8%);

  /* background: linear-gradient(to top right, #bcf4b3 0%, #d6f6d1 100%); */
  
  background: linear-gradient(to top right, #f4faf2 0%, #d6f6d1 100%);
  /* background: #B4E4CA; */
  


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


img {
  max-width: 100%;
  height: auto;
  width: auto;
}
